body{
    background: url(https://static.vecteezy.com/system/resources/previews/007/798/395/original/sofa-icon-illustration-interior-flat-cartoon-style-suitable-for-web-landing-page-banner-flyer-sticker-wallpaper-background-free-vector.jpg)  ;   
    background-size: cover;
    margin-bottom: 50rem;
    
   
}

ul{
    color: antiquewhite;
    text-wrap: 10px;
}

h1{
    color:black;
    margin-top: 5px;
}

a{
    background-color: blue;
    border: none;
    position: absolute;
    right: 40%;
    bottom: 50%;
    padding: 20px 50px;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: antiquewhite;
}

nav{



}