/* img{
    max-width: 100%;
} */

body{
    background-color: rgb(189,183,107);  
}

h3{
    float: right;
}

/* div{
    background-color: aqua;
} */
h1{
    text-align: center;
}
.card-img-top{
    height: 300px;
    
}
.btn{
    text-align: center;

}
