img {
  max-width:80%;
  border-radius: 50%;
}

body{
    background-color: rgb(189,183,107);  
}

h3{
    float: right; 
}

.container { 
  height: 50px;
  position: relative;
  border: 3px solid green; 
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div{
  background-color: aqua;
  border-radius: 120%;
}

